{
  "openapi": "3.0.1",
  "info": {
    "title": "Trisk.io Documentation",
    "description": "",
    "termsOfService": "",
    "contact": {
      "email": "demo_info@trisk.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.trisk.us:8080/v1"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Authenticate using credentials",
        "tags": [
          "Authentication"
        ],
        "servers": [
          {
            "url": "https://authentication.sandbox.trisk.us:8080/v1",
            "description": "Authentication server"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "An email of the registered user",
                            "example": "user@email.com"
                          },
                          "password": {
                            "type": "string",
                            "description": "An password of the registered user"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "The authorisation code that should be changed to the JWT token",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "auth_codes_internal"
                        },
                        "id": {
                          "type": "string",
                          "description": "The id of the auth code internal",
                          "example": "7e48b1a4-ccfc-4c6b-b03f-d9bb9ac4f883"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/WrongCredentialsError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "Logout",
        "description": "Logout from the system",
        "tags": [
          "Authentication"
        ],
        "servers": [
          {
            "url": "https://authentication.sandbox.trisk.us:8080/v1",
            "description": "Authentication server"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "422": {
            "$ref": "#/components/responses/WrongCredentialsError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/login/code/{code}": {
      "post": {
        "summary": "Get JWT token from authentication",
        "description": "The request to get a JWT token. Most of the requests should include an Authentication Bearer token in the header",
        "tags": [
          "JWT"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "in": "path",
            "name": "code",
            "description": "The code can be received from the body of a Authentication request to the authentication server",
            "example": "056dba62-0168-4d67-8131-a685f2d365ed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body should contains data",
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request body should contain a current tenant id",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The current tenant id",
                        "example": "056dba62-0168-4d67-8131-a685f2d365ed"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user successfully authorized to the Trisk",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "session"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "Authentication Bearer token that should be used as a header in most requests"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/token/refresh": {
      "post": {
        "summary": "Refresh JWT token",
        "description": "The JWT token has TTL and to work with it longer JWT should be refreshed",
        "tags": [
          "JWT"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get info about current user",
        "description": "The info about the current user, can be used to show a user profile",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "in": "query",
            "name": "include",
            "description": "The attributes that will be returned together with the user info",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "profile,clients"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful get a user info",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/flow_instances/task_instances": {
      "get": {
        "summary": "Get list of task instances",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Include"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "The task instance list can be filtered",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "description": "The filter by the task instance statuses: 0 - th task instance is not started; 10 - the task instance was started and in the active status; 20 - the task instance was completed; 30 - the task instance was canceled",
                  "example": 10,
                  "enum": [
                    0,
                    10,
                    20,
                    30
                  ]
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "elastic": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "type": "string",
                      "description": "The filter by the task instance assignee id",
                      "example": "b64a8d22-5f64-4462-9fdc-f538f03ec5fe"
                    },
                    "task_type": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The filter by the task instance type",
                        "example": "Fill Form",
                        "enum": [
                          "Fill Form",
                          "Task Approve",
                          "Smart Contract"
                        ]
                      }
                    },
                    "completed_at": {
                      "type": "object",
                      "description": "The filter for a task instance by the completion date range",
                      "properties": {
                        "from": {
                          "type": "string",
                          "description": "Start of the range",
                          "example": "2022-05-31T21:00:00.000Z"
                        },
                        "to": {
                          "type": "string",
                          "description": "End of the range",
                          "example": "2022-06-08T20:59:59.999Z"
                        }
                      }
                    },
                    "workflow_identifier": {
                      "type": "string",
                      "description": "The filter by the workflow identifier",
                      "example": "Simple Identifier"
                    },
                    "workflow_status": {
                      "type": "integer",
                      "description": "The filter by the workflow instance statuses: 0 - th workflow instance is not started; 10 - the workflow was started and in the active status; 20 - the workflow instance was completed; 30 - the workflow instance was canceled; 40 - the workflow instance was terminated",
                      "example": 10,
                      "enum": [
                        10,
                        20,
                        30,
                        40
                      ]
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "The task instance list can be sorted",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "task_instances_readonly": {
                  "type": "object",
                  "properties": {
                    "0": {
                      "type": "string",
                      "description": "The task instance list ca be sorted by the name, description, due date",
                      "enum": [
                        "name",
                        "-name",
                        "description",
                        "-description",
                        "due_date",
                        "-due_date"
                      ]
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskInstance.Readonly"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}": {
      "get": {
        "summary": "Get task instances",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Include"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskInstance.Full"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      },
      "post": {
        "summary": "Update task instance",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/FormInstance.SectionInstance.WithData"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/artifact": {
      "post": {
        "summary": "Upload file task instance fill form",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/X-Http-Method-Override-Put"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_*": {
                    "type": "string",
                    "format": "binary"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "section_instances"
                      },
                      "id": {
                        "type": "string",
                        "description": "The id of the section instance",
                        "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "field_instances": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "field_instances"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The id of the field instance",
                                    "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/complete": {
      "post": {
        "summary": "Complete task instance",
        "description": "Each task can be completed",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "$ref": "#/components/schemas/TaskInstance.Properties"
                          },
                          "artifact": {
                            "$ref": "#/components/schemas/TaskInstance.Artifact"
                          }
                        }
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "artifact": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/TaskInstance.ArtifactRelation.Full"
                              }
                            }
                          },
                          "forward_notifications": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/TaskInstance.ForwardNotification"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/reject": {
      "post": {
        "summary": "Reject task instance",
        "description": "Only the Form Approval task instance can be rejected",
        "tags": [
          "Task instances"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "forward_notifications": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/TaskInstance.ForwardNotification"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/artifact/discussions": {
      "get": {
        "summary": "List discussions",
        "description": "The list of the discussions that left in the Fill Form and Form Approval",
        "tags": [
          "Task instances discussions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          },
          {
            "in": "query",
            "name": "include",
            "description": "The attributes that will be returned together with Task instances discussions",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "discussion_instances.author.profile"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Discussions can be filtered by the field instance",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "section_instance_id": {
                  "type": "string",
                  "description": "Section instance id is required to filter by the field instance",
                  "example": "923ad03c-b239-45a2-a286-b50a20f7b564"
                },
                "field_instance_id": {
                  "type": "string",
                  "description": "The id of the field instance",
                  "example": "0ec0d663-bf6b-43c2-bd76-c225e1fdafef"
                }
              }
            },
            "style": "deepObject",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FormInstance.SectionInstance.FieldInstance.WithDiscussion"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      },
      "post": {
        "summary": "Create discussion",
        "description": "The discussion can be left only in the Fill Form and Form Approval",
        "tags": [
          "Task instances discussions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/FormInstance.SectionInstance.WithDiscussion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FormInstance.SectionInstance.FieldInstance.Full"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/artifact/discussions/resolve": {
      "post": {
        "summary": "Resolve/edit discussion",
        "description": "The discussion can be resolve/edit",
        "tags": [
          "Task instances discussions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/FormInstance.SectionInstance.WithDiscussion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FormInstance.SectionInstance.FieldInstance.Full"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/artifact/discussions/remove": {
      "post": {
        "summary": "Remove discussion",
        "description": "The discussion can be removed",
        "tags": [
          "Task instances discussions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/FormInstance.SectionInstance.WithDiscussion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FormInstance.SectionInstance.FieldInstance.Full"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/blockchain/wallets/sessions": {
      "post": {
        "summary": "Create wallet session",
        "description": "To connect wallet to the Smart Contract task instance need to create a wallet session",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          }
        ],
        "requestBody": {
          "description": "The body of the create wallet request",
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Blockchain.Session"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/blockchain/wallets/sessions/{identifier}": {
      "post": {
        "summary": "Remove wallet session",
        "description": "The request to remove wallet from the Smart Contract task instance",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/X-Http-Method-Override-Delete"
          },
          {
            "in": "path",
            "name": "identifier",
            "description": "The wallet session identifier id",
            "example": "056dba62-0168-4d67-8131-a685f2d365ed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/execute": {
      "post": {
        "summary": "Execute smart contract",
        "description": "The request to execute the Smart Contract task instance",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "description": "Session identifier"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/flow_instances/{flowInstanceId}/relationships/container_instances/{containerInstanceId}/relationships/process_instances/{processInstanceId}/relationships/task_instances/{taskInstanceId}/reset": {
      "post": {
        "summary": "Reset smart contract instance",
        "description": "If the Smart Contract instance executed with an error it can be reset",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Flow-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Container-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Process-Instance-Id"
          },
          {
            "$ref": "#/components/parameters/Task-Instance-Id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Acknowledge"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/data_dictionary/variables": {
      "get": {
        "summary": "Get list of variables",
        "description": "The list of the all variables",
        "tags": [
          "Data dictionary"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Data-Dictionary-Variable-Include"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "The list of the variables can be filtered",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "elastic": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/DataDictionary.Variable.Type"
                    },
                    "category": {
                      "$ref": "#/components/schemas/DataDictionary.Variable.Category"
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "The list of the variables can be sorted",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "data_dictionary_variables": {
                  "type": "object",
                  "properties": {
                    "0": {
                      "type": "string",
                      "description": "The list of the variables can be sorted by the name, type, category, and creation date",
                      "enum": [
                        "name",
                        "-name",
                        "type",
                        "-type",
                        "category",
                        "-category",
                        "created_at",
                        "-created_at"
                      ]
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataDictionary.Variable"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/data_dictionary/variables/{id}": {
      "get": {
        "summary": "Get info about variable",
        "description": "The full information about the variable",
        "tags": [
          "Data dictionary"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of the variable",
            "example": "056dba62-0168-4d67-8131-a685f2d365ed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Data-Dictionary-Variable-Include"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DataDictionary.Variable"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/data_dictionary/variables_cages": {
      "get": {
        "summary": "Get list of variables cages",
        "description": "The list of the variable cages",
        "tags": [
          "Data dictionary"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Data-Dictionary-Variable-Cage-Include"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "The variable cages can be filtered",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "elastic": {
                  "type": "object",
                  "properties": {
                    "variable_name": {
                      "type": "string",
                      "description": "The name of the variable",
                      "example": "Simple variable name"
                    },
                    "variable_type": {
                      "$ref": "#/components/schemas/DataDictionary.Variable.Type"
                    },
                    "variable_category": {
                      "$ref": "#/components/schemas/DataDictionary.Variable.Category"
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "The variable cages can be sorted",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "data_dictionary_variables_cages": {
                  "type": "object",
                  "properties": {
                    "variable": {
                      "type": "object",
                      "properties": {
                        "0": {
                          "type": "object",
                          "properties": {
                            "0": {
                              "type": "string",
                              "description": "The variable cages can be sorted by the name, type, category, date of the creation",
                              "enum": [
                                "name",
                                "-name",
                                "type",
                                "-type",
                                "category",
                                "-category"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "style": "deepObject",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataDictionary.Variable.Cage"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    },
    "/data_dictionary/variables_cages/{id}": {
      "get": {
        "summary": "Get info about variable cage",
        "description": "The full information about the variable cage",
        "tags": [
          "Data dictionary"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Domain"
          },
          {
            "$ref": "#/components/parameters/ApiKey"
          },
          {
            "$ref": "#/components/parameters/ApiSecret"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of the variable cage",
            "example": "056dba62-0168-4d67-8131-a685f2d365ed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Data-Dictionary-Variable-Cage-Include"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DataDictionary.Variable.Cage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "ApiKey": [],
            "ApiSecret": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Whenever the user wants to access a protected route or resource, the user agent should send the JWT in the Authorization header using the Bearer schema ",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKey": {
        "type": "apiKey",
        "description": "An X-API-KEY key is a token that a client provides with a X-API-SECRET when making API calls, used instead of the JWT",
        "in": "header",
        "name": "X-API-KEY"
      },
      "ApiSecret": {
        "type": "apiKey",
        "description": "An X-API-SECRET key is a token that a client provides with a X-API-KEY when making API calls, used instead of the JWT",
        "in": "header",
        "name": "X-API-SECRET"
      }
    },
    "parameters": {
      "X-Domain": {
        "in": "header",
        "name": "X-Domain",
        "description": "Every request should has X-Domain Header, in the UUIDv4 format. The X-Domain can be get from the Tenant Integrations page",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string",
          "example": "3c1427df-2d0a-46b9-b256-47c145cd9bb9"
        }
      },
      "ApiKey": {
        "in": "header",
        "name": "X-API-KEY",
        "description": "An X-API-KEY key is a token that a client provides with a X-API-SECRET when making API calls, used instead of the JWT",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string",
          "example": "3c1427df-2d0a-46b9-b256-47c145cd9bb9"
        }
      },
      "ApiSecret": {
        "in": "header",
        "name": "X-API-SECRET",
        "description": "An X-API-SECRET key is a token that a client provides with a X-API-KEY when making API calls, used instead of the JWT",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string",
          "example": "3c1427df-2d0a-46b9-b256-47c145cd9bb9"
        }
      },
      "X-Http-Method-Override-Delete": {
        "in": "header",
        "name": "X-HTTP-METHOD-OVERRIDE",
        "description": "To make a DELETE request should make a POST request with X-HTTP-METHOD-OVERRIDE header",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "DELETE"
      },
      "X-Http-Method-Override-Put": {
        "in": "header",
        "name": "X-HTTP-METHOD-OVERRIDE",
        "description": "To make a PUT request should make a POST request with X-HTTP-METHOD-OVERRIDE header",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "PUT"
      },
      "Flow-Instance-Id": {
        "in": "path",
        "name": "flowInstanceId",
        "description": "The workflow instance id",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "aa18a31a-0bcf-48d1-9350-a6ae49900111"
      },
      "Container-Instance-Id": {
        "in": "path",
        "name": "containerInstanceId",
        "description": "The container instance id",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
      },
      "Process-Instance-Id": {
        "in": "path",
        "name": "processInstanceId",
        "description": "The process instance id",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "defde76c-3f1d-4b24-8929-87ed70ea23d6"
      },
      "Task-Instance-Id": {
        "in": "path",
        "name": "taskInstanceId",
        "description": "The task instance id",
        "allowEmptyValue": false,
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "3415f91d-a54c-455b-8ee3-51227dbe4f40"
      },
      "Task-Instance-Include": {
        "in": "query",
        "name": "include",
        "description": "The attributes that will be returned together with the task instance",
        "allowEmptyValue": false,
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "artifact,assignee.profile,process_instances.container_instances.flow_instances.owner.profile"
      },
      "Data-Dictionary-Variable-Include": {
        "in": "query",
        "name": "include",
        "description": "The attributes that will be returned together with the data dictionary variable",
        "allowEmptyValue": false,
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "author"
      },
      "Data-Dictionary-Variable-Cage-Include": {
        "in": "query",
        "name": "include",
        "description": "The attributes that will be returned together with the data dictionary variable cage",
        "allowEmptyValue": false,
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "author,client,values"
      },
      "Search": {
        "in": "query",
        "name": "term",
        "description": "The term to the search",
        "allowEmptyValue": false,
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Acknowledge": {
        "description": "The \"true\" value of the acknowledge means that the request is correct and the \"false\" is incorrect",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "acknowledge": {
                  "type": "boolean",
                  "description": "The value of the acknowledge"
                }
              }
            }
          }
        }
      },
      "Error": {
        "description": "That means something has gone wrong on the server, and the server returns more specific about what the exact problem is",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "object"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the error",
                  "example": "errors"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "status": {
                  "type": "integer",
                  "description": "The status of the error"
                },
                "code": {
                  "type": "integer"
                },
                "title": {
                  "type": "string",
                  "description": "The title of the error"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "type": "object",
                  "description": "The request body"
                },
                "meta": {
                  "type": "object",
                  "description": "The internal trace"
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Unauthorized exception",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/responses/Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The response status code of the error",
                      "example": 401
                    },
                    "code": {
                      "type": "integer",
                      "example": 0
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the error",
                      "example": "Unauthorized"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "WrongCredentialsError": {
        "description": "The credentials is not equal to the saved values for user",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/responses/Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The response status code of the error",
                      "example": 422
                    },
                    "code": {
                      "type": "integer",
                      "example": 0
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the error",
                      "example": "Wrong Credential"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The response body of the Not Found Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/responses/Error"
                },
                {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The response status code of the error",
                      "example": 404
                    },
                    "code": {
                      "type": "integer",
                      "example": 404
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the error",
                      "example": "Not Found"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the user",
            "example": "users"
          },
          "id": {
            "type": "string",
            "description": "The user id in a system",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "The user email registered in a system",
                "example": "example@domain.com"
              },
              "factory_password": {
                "description": "The flag that shows that a user was not logged in to the system and doesn't change default password that receive in the registration email",
                "type": "boolean"
              },
              "active": {
                "type": "boolean"
              },
              "last_login_date": {
                "type": "string",
                "description": "The date and time when the user the last time logged in the system",
                "example": "2016-01-01 12:00:00"
              },
              "reachable": {
                "type": "boolean"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time of the user creation",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the user was changed",
                "example": "2016-01-01 12:00:00"
              },
              "archived_at": {
                "type": "string",
                "description": "The date and time when the user was archived",
                "example": "2016-01-01 12:00:00"
              },
              "auth_provider": {
                "type": "string",
                "example": "trisk_credentials"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/User.Profile"
                  }
                }
              }
            }
          }
        }
      },
      "User.Profile": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "users_profile"
          },
          "id": {
            "type": "string",
            "description": "The id of the profile registered user",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string",
                "description": "The user first name",
                "example": "John"
              },
              "last_name": {
                "type": "string",
                "description": "The user last name",
                "example": "Doe"
              },
              "avatar": {
                "type": "string",
                "description": "The user avatar in the JPG, PNG, and max size of 5Mb"
              },
              "phone_code": {
                "type": "string",
                "description": "The international phone code",
                "example": "1"
              },
              "phone_number": {
                "type": "string",
                "description": "The phone number of the user",
                "example": "(111) 111-11-11"
              },
              "position": {
                "type": "string",
                "description": "This field is a string and can be used as a position of the user in the company or some other information"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time of the user creation",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the info in the user profile was changed",
                "example": "2016-01-01 12:00:00"
              }
            }
          }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Author it is a user who create entity",
            "example": "authors"
          },
          "id": {
            "type": "string",
            "description": "The id of the user who create entity",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of the author of the discussion instance",
                "example": "users"
              },
              "scope": {
                "type": "string",
                "description": "The scope of the author of the discussion instance"
              },
              "email": {
                "type": "string",
                "description": "The email of the author of the discussion instance",
                "example": "example@example.com"
              },
              "archived_at": {
                "type": "string",
                "description": "The date and time when the author of the discussion instance was archived",
                "example": "2016-01-01 12:00:00"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/User.Profile"
                  }
                }
              }
            }
          }
        }
      },
      "Assignee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "An assignee is a user who responsible for a task execution",
            "example": "assignees"
          },
          "id": {
            "type": "string",
            "description": "The id of the user who is a assignee",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "In the system we have a two types of the users, internal - users registered in the system and external_users - Trisk allows you to assign tasks to external users who are not registered in the platform",
                "example": "users",
                "enum": [
                  "users",
                  "external_users"
                ]
              },
              "scope": {
                "type": "string",
                "description": "In the system we have a two scope of the users, tenant users - This is your Company users; the originator of processes/workflows and the client users - this is the individual on the other side, the provider of information, the respondent",
                "example": "tenant",
                "enum": [
                  "tenant",
                  "client"
                ]
              },
              "email": {
                "type": "string",
                "description": "The user email"
              },
              "archived_at": {
                "type": "string",
                "description": "The date and time when the user was archived",
                "example": "2016-01-01 12:00:00"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/User.Profile"
                  }
                }
              }
            }
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the client",
            "example": "clients"
          },
          "id": {
            "type": "string",
            "description": "The client id in the UUIDv4 format",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The client name",
                "example": "Simple client"
              },
              "is_simulation": {
                "description": "The mode when the tenant can be as a client",
                "type": "boolean"
              },
              "has_members": {
                "description": "Indicate if the client has a members",
                "type": "boolean"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time when the client was created",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the client was last time changed",
                "example": "2016-01-01 12:00:00"
              },
              "archive_at": {
                "type": "string",
                "description": "The date and time when the client was archived",
                "example": "2016-01-01 12:00:00"
              },
              "remove_at": {
                "type": "string",
                "description": "The date and time when the client will be fully removed from a system",
                "example": "2016-01-01 12:00:00"
              }
            }
          }
        }
      },
      "Client.Profile": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "clients_profile"
          },
          "id": {
            "type": "string",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "avatar": {
                "type": "string"
              },
              "business_type": {
                "type": "string",
                "example": "C Corporation"
              }
            }
          }
        }
      },
      "TaskInstance.Base": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the task instance",
            "example": "task_instances"
          },
          "id": {
            "type": "string",
            "description": "The task instances id in the UUIDv4 format",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "description": "The task reference in the UUIDv4 format",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "name": {
                "type": "string",
                "description": "Task instance name",
                "example": "Simple Task Name"
              },
              "description": {
                "type": "string",
                "description": "Task instance description",
                "example": "Simple Task Description"
              },
              "assignee_id": {
                "type": "string",
                "description": "Id of the user who selected as assignee",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "assignee_type": {
                "type": "string",
                "description": "The type of the user who selected as assignee",
                "example": "users",
                "enum": [
                  "users",
                  "external_users"
                ]
              },
              "active": {
                "type": "boolean",
                "description": "The flag that show is it task instance in the active status"
              },
              "reopenable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reopen this task instance"

              },
              "rejectable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reject this task instance"

              },
              "reassignable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reassign this task instance"

              },
              "executable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to execute this task instance"
              },
              "completed": {
                "type": "boolean",
                "description": "The flag that show is it task instance completed or not"
              },
              "properties": {
                "$ref": "#/components/schemas/TaskInstance.Properties"
              },
              "artifact": {
                "$ref": "#/components/schemas/TaskInstance.Artifact"
              },
              "scope": {
                "type": "string",
                "description": "The indication in the which scope will task instance due date reached",
                "example": "past_due",
                "enum": [
                  "past_due",
                  "this_week",
                  "on_schedule"
                ]
              },
              "has_pending_reopen_request": {
                "type": "boolean",
                "description": "The flag that show is this task instance has not completed reopen requests"
              },
              "due_date": {
                "type": "string",
                "description": "The date and time when the task instance due date will be reached",
                "example": "2018-08-13T14:07:32+00:00"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the task instance was changed",
                "example": "2016-01-01 12:00:00"
              },
              "completed_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              }
            }
          }
        }
      },
      "TaskInstance.Readonly": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the task instance",
            "example": "task_instances"
          },
          "id": {
            "type": "string",
            "description": "The task instances id in the UUIDv4 format",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "description": "The task reference in the UUIDv4 format",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "name": {
                "type": "string",
                "description": "Task instance name",
                "example": "Simple Task Name"
              },
              "description": {
                "type": "string",
                "description": "Task instance description",
                "example": "Simple Task Description"
              },
              "assignee_id": {
                "type": "string",
                "description": "Id of the user who selected as assignee",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "assignee_type": {
                "type": "string",
                "description": "The type of the user who selected as assignee",
                "example": "users",
                "enum": [
                  "users",
                  "external_users"
                ]
              },
              "assignee_types_allowed": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "The type of users allowed to be as assignee, users or/and external_users",
                  "example": "users"
                }
              },
              "active": {
                "type": "boolean",
                "description": "The flag that show is it task instance in the active status"
              },
              "reopenable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reopen this task instance"

              },
              "rejectable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reject this task instance"

              },
              "reassignable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reassign this task instance"

              },
              "executable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to execute this task instance"
              },
              "completed": {
                "type": "boolean",
                "description": "The flag that show is it task instance completed or not"
              },
              "properties": {
                "$ref": "#/components/schemas/TaskInstance.Properties"
              },
              "artifact": {
                "$ref": "#/components/schemas/TaskInstance.Artifact"
              },
              "scope": {
                "type": "string",
                "description": "The indication in the which scope will task instance due date reached",
                "example": "past_due",
                "enum": [
                  "past_due",
                  "this_week",
                  "on_schedule"
                ]
              },
              "has_pending_reopen_request": {
                "type": "boolean",
                "description": "The flag that show is this task instance has not completed reopen requests"
              },
              "due_date": {
                "type": "string",
                "description": "The date and time when the task instance due date will be reached",
                "example": "2018-08-13T14:07:32+00:00"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the task instance was changed",
                "example": "2016-01-01 12:00:00"
              },
              "completed_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "artifact": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/TaskInstance.ArtifactRelation"
                  }
                }
              },
              "assignee": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Assignee"
                  }
                }
              },
              "process_instances": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/TaskInstance.ProcessInstance"
                  }
                }
              }
            }
          }
        }
      },
      "TaskInstance.Full": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the task instance",
            "example": "task_instances"
          },
          "id": {
            "type": "string",
            "description": "The task instances id in the UUIDv4 format",
            "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "description": "The task reference in the UUIDv4 format",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "name": {
                "type": "string",
                "description": "Task instance name",
                "example": "Simple Task Name"
              },
              "description": {
                "type": "string",
                "description": "Task instance description",
                "example": "Simple Task Description"
              },
              "assignee_id": {
                "type": "string",
                "description": "Id of the user who selected as assignee",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              },
              "assignee_type": {
                "type": "string",
                "description": "The type of the user who selected as assignee",
                "example": "users",
                "enum": [
                  "users",
                  "external_users"
                ]
              },
              "active": {
                "type": "boolean",
                "description": "The flag that show is it task instance in the active status"
              },
              "reopenable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reopen this task instance"

              },
              "rejectable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reject this task instance"

              },
              "reassignable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to reassign this task instance"

              },
              "executable": {
                "type": "boolean",
                "description": "The flag that show is current user has permission to execute this task instance"
              },
              "completed": {
                "type": "boolean",
                "description": "The flag that show is it task instance completed or not"
              },
              "canceled": {
                "type": "boolean",
                "description": "The flag that show is current task instance canceled or not"
              },
              "read_only": {
                "type": "boolean",
                "description": "The flag that show is current task instance read only or can be changed"
              },
              "timesheets_reportable": {
                "type": "boolean",
                "description": "The flag that show is timesheet can be leave for current task instance "
              },
              "properties": {
                "$ref": "#/components/schemas/TaskInstance.Properties"
              },
              "artifact": {
                "$ref": "#/components/schemas/TaskInstance.Artifact"
              },
              "scope": {
                "type": "string",
                "description": "The indication in the which scope will task instance due date reached",
                "example": "past_due",
                "enum": [
                  "past_due",
                  "this_week",
                  "on_schedule"
                ]
              },
              "has_pending_reopen_request": {
                "type": "boolean",
                "description": "The flag that show is this task instance has not completed reopen requests"
              },
              "due_date": {
                "type": "string",
                "description": "The date and time when the task instance due date will be reached",
                "example": "2018-08-13T14:07:32+00:00"
              },
              "created_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              },
              "updated_at": {
                "type": "string",
                "description": "The date and time when the task instance was changed",
                "example": "2016-01-01 12:00:00"
              },
              "completed_at": {
                "type": "string",
                "description": "The date and time when the task instance was completed",
                "example": "2016-01-01 12:00:00"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "artifact": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/TaskInstance.ArtifactRelation.Full"
                  }
                }
              },
              "assignee": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Assignee"
                  }
                }
              }
            }
          }
        }
      },
      "TaskInstance.ForwardNotification": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "description": "The reference of the task instance",
                "example": "80ff61b8-4f08-4f8f-a7ea-63c6b41d42e5"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "assignee": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the user who is a assignee of the task instance",
                        "example": "defde76c-3f1d-4b24-8929-87ed70ea23d6"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TaskInstance.Properties": {
        "type": "object",
        "properties": {
          "buttons": {
            "type": "object",
            "properties": {
              "forward": {
                "$ref": "#/components/schemas/TaskInstance.Properties.Button"
              },
              "backward": {
                "$ref": "#/components/schemas/TaskInstance.Properties.Button"
              }
            }
          },
          "webhook": {
            "type": "object",
            "description": "In current moment relates only to the Export task instance type",
            "properties": {
              "events": {
                "type": "array",
                "description": "Type of the events that will trigger a webhook. In current moment available only task instance completed event available",
                "items": {
                  "type": "string"
                }
              },
              "endpoint": {
                "type": "string",
                "description": "Your unique URL where is a webhook listener"
              }
            }
          },
          "transitions": {
            "type": "object",
            "properties": {
              "finish": {
                "type": "boolean",
                "description": "The flag that show is this task instance the last task in the workflow"
              },
              "forward": {
                "type": "string",
                "description": "Shows id of which task instance will be run after current completed. If the task instance is last in the workflow it will be empty",
                "example": "d89bfd4b-61df-479a-84c1-614e4440865a"
              },
              "initial": {
                "type": "boolean",
                "description": "The flag that show is this task instance the first task in the workflow"
              },
              "backward": {
                "type": "string",
                "description": "Shows id of which task instance will be run if this task instance will be rejected. Relates only to the Form Approval task instance. If the task instance is first in the workflow it will be empty",
                "example": "t318a31a-0bcf-48d1-9350-a6ae499007c0"
              }
            }
          },
          "access_roles": {
            "type": "object",
            "properties": {
              "read": {
                "type": "array",
                "description": "Shows id of the roles which users can view current task instance",
                "items": {
                  "type": "string",
                  "example": "80ff61b8-4f08-4f8f-a7ea-63c6b41d42e5"
                }
              },
              "write": {
                "type": "array",
                "description": "Shows id of the roles which users can change current task instance",
                "items": {
                  "type": "string",
                  "example": "80ff61b8-4f08-4f8f-a7ea-63c6b41d42e5"
                }
              },
              "assign": {
                "type": "string",
                "description": "The id of the user who is a assignee of the current task instance",
                "example": "80ff61b8-4f08-4f8f-a7ea-63c6b41d42e5"
              },
              "execute": {
                "type": "array",
                "description": "Shows id of the roles which users can complete/execute current task instance",
                "items": {
                  "type": "string",
                  "example": "80ff61b8-4f08-4f8f-a7ea-63c6b41d42e5"
                }
[...]
